body {
    background: #020024;
    background: linear-gradient(90deg, rgb(78, 66, 95) 25%, rgb(58, 36, 76) 100%);
    color: rgb(238, 238, 238);
}

header {
    text-align: center;
}

a {
    color: rgb(201, 164, 255);
}

#navbar a {
    padding: 10px; 
}

#content {
    background: linear-gradient(135deg, rgba(35, 0, 72, 0.4) 0%, rgba(2, 0, 36, 0.4) 100%);
    border: 2px #120024 solid;
    text-align: center;
    margin: auto;
    max-width: 55%;
    max-height: 75%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

#pfp {
    width: 150px;
    border-radius: 50%;
    border: 3px #c5c5c5 solid ;
}

#description {
    margin: 40px;
    font-size: 25px;
}
